@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background: #040734;
}
input{
  height: 40px;
  width: 400px;
  color: #000;
  padding: 0 15px;
}
textarea{
  height: 100px;
  width: 400px;
  color: #000;
  padding: 0 15px;
}
button{
  border-radius: 5px;
  display: inline-block;
  background: #0b9e6b;
  border: 1px solid #0b9e6b;
  padding: 10px 30px;
}